CREATE OR REPLACE FUNCTION public.get_my_org_id()
RETURNS UUID AS \$\$
BEGIN
  RETURN COALESCE(
    (NULLIF(current_setting('request.jwt.claims', true)::jsonb -> 'app_metadata' ->> 'organization_id', ''))::uuid,
    (SELECT organization_id FROM public.profiles WHERE id = auth.uid())
  );
END;
\$\$ LANGUAGE plpgsql STABLE SECURITY DEFINER;
